* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  text-align: center;
}

form {
  max-width: 500px;
  margin: 50px auto;
}
.container {
  max-width: 768px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
}

@media only screen and (min-width: 1200px) {
  .container{
    max-width: 1200px;
  }
}